html
   head
      title Clementine.js - The elegant and lightweight full-stack boilerplate.</title>
      link(href="http://fonts.googleapis.com/css?family=Roboto:400,500" rel="stylesheet" type="text/css")
      link(href="/public/css/main.css" rel="stylesheet" type="text/css")

   body
      .container
         h1 Hello world

      .container
         p Calculations

      script(type="text/javascript" src="/controllers/calcController.client.js")
